

* {box-sizing: border-box;}


body {
  background-color: #ACD4AF;
  color: #105214;
  font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
  margin: auto;

  background-image: linear-gradient(to bottom, #105214, #000000);
  background-color: #ACD4AF;

}
header {
  background-color: #D5EEDB;
  color: #050315;
  text-align: center;
  padding-top: 15px;

}
header a{
  text-decoration: none;
  color: 050315;
}
header a:link{
  color: white;

}
header a:visited{
  color: white;

}
header a:hover{
  color: #90c7e3;

}
h1 {
  margin-bottom: 0;
  margin-top: 0;
  font-family: Georgia, "Times New Roman", serif;
  padding: 0.5em 0;
  letter-spacing: 0.25em;
}

nav {
  font-weight: bold;
  font-size: 120%;
  padding:0;
  text-align: center;
}

nav a {
  text-decoration: none;
  padding-left: 5em;
  padding-right: 5em;

}
nav ul{
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  font-size: 1.2em;
}
nav li{
  border-bottom: 1px solid #002171;
}
nav a:link{
  color: #5C7FA3;
}
nav a:visited{
  color: #344873;
}
nav a:hover{
  color:#A52A2A;
}
main {
   190px;
  padding: 1px 20px 20px 30px;
  overflow: auto;
  display: block;
  background-color: #FFFFFF
}
main ul{
}


h2 {
  color: #1a6040;
  font-family: Georgia, "Times New Roman", serif;
  text-shadow: 1px 1px 1px #cccccc;
}

h3{
  font-family: Georgia, "Times New Roman", serif;
  color: #1c392c;

}

form {
  display: flex;
  flex-flow: column; nowrap;
}
input, textarea {
  margin-bottom: .5em;
}
input{
  padding: .5em;
}


dt {
  color: #002171;
}
footer{
   190px;
  padding: 2em;
  background-color: white;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 75%;
  font-style: italic;
  text-align: center;
}

table { border: 2px solid #3399CC;
        border-collapse: collapse; }
td, th {padding: 0.5em;
        border: 2px solid #3399CC;}
td {text-align:center; }
.text {text-align: left;}
tr:nth-of-type(odd){background-color: #F5FAFC}


.Frog {
  color: #144d04;
  font-weight: bold;
}

#froghero{
   190px;
  height: 300px;
  background-image: url(Images/IMG_5858.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#contact {
  font-size: 90%;
}

video{
  float: right;
  margin: 1em;
}



@media (min-width:600px) {
  nav ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content:
  }

  nav li{
    border-bottom: none;
  }
  section{
    margin: 0 2em;
    flex: 1;
  }

  form {
    display: grid;
    grid-template-columns: 6em 1fr;
    grid-template-rows: auto;
    grid-gap: 1em;
  }


  .flow{
    display: flex;
    flex-direction: row;
  }
}

@media (min-width:1024px){
  #wrapper{
    margin: auto;
    width: 80%;
    border: 1px solid #002171;
    box-shadow: 3px 3px 3px #002171;
  }
  nav{
    text-align: left;
    padding-left: 1em;

  }
  @supports (display: grid){
    nav ul{
      flex-direction: column;
    }

    header{
    grid-area: header;}
    nav{grid-area: nav;}
    main{grid-area: main;}
    footer{grid-area: footer;}
    #wrapper {
      display: grid;
      grid-template-columns: 150px 1fr;
      grid-template-rows: 100px auto 50px;
      grid-template:
    }
  }
}
